<div class="vert-center-container">
  <div class="m-top"></div>
  <div class="app-header-container">
    <div class="monkey-icon">
      <img src="./images/funny-monkey-face-144-170094.png" width="100%" height="100%" alt="MONKEY FACE">
    </div>
    <div class="app-title">
      <img src="./images/sudokuMonkey2.png" width="100%" height="100%" alt="Sudoku Monkey">
    </div>
    <div id="home" class="m-home">{{link-to 'Home' 'index'}}</div>	
    <div id="puzzle" class="m-ugga">{{link-to 'Puzzle' 'ugga'}}</div>		
  </div>
  <br>
  {{outlet}}
</div>
