<div class="sudoku-container">
  <div class="lf">
    <img id="leftArrow" src="./images/leftArrow.png" width="80%" alt="<">
  </div>
  <div class="rt">
    <img id="rightArrow" src="./images/rightArrow.png" width="80%" alt=">">
  </div>
  
  <div class="r0 thick-h">
  </div>
  <div class="r1 thick-h">
  </div>
  <div class="r2 thick-h">
  </div>
  <div class="r3 thick-h">
  </div>

  <div class="v1 thick-v">
  </div>
  <div class="v2 thick-v">
  </div>
  <div class="v3 thick-v">
  </div>
  <div class="v4 thick-v">
  </div>
  <div class="v5 thick-v">
  </div>
  <div class="v6 thick-v">
  </div>
  <div class="v7 thick-v">
  </div>
  <div class="v8 thick-v">
  </div>
  <div class="v9 thick-v">
  </div>
  <div class="v10 thick-v">
  </div>
  <div class="v11 thick-v">
  </div>
  <div class="v12 thick-v">
  </div>

  <div class="a1 sq">
    {{puzzval-in cellId="a1" sud=sud}}
  </div>
  <div class="b1 sq">
    {{puzzval-in cellId="b1" sud=sud}}
  </div>
  <div class="c1 sq">
    {{puzzval-in cellId="c1" sud=sud}}
  </div>
  <div class="d1 sq">
    {{puzzval-in cellId="d1" sud=sud}}
  </div>

  
</div>

